
-- {{rows}}


<table id="data-{{UUID}}" class="display" style="width:100%">
    <thead>
        <tr>
            <th>Id</th>
            <th>AuthorId</th>
            <th>Title</th>
            <th>Subtitle</th>
            <th>Content</th>
        </tr>
    </thead>
    <tbody>
        {% for row in blogs %}
        <tr data-row-id="row-{{row.id}}">
            <td>{{ row.id }}</td>
            <td>{{ row.authorId }}</td>
            <td>{{ row.title }}</td>
            <td>{{ row.subtitle }}</td>
            <td>{{ row.content }}</td>
        </tr>            
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <th>Id</th>
            <th>AuthorId</th>
            <th>Title</th>
            <th>Subtitle</th>
            <th>Content</th>
        </tr>
    </tfoot>
</table>

<script>
        new DataTable('#data-{{UUID}}', {
        initComplete: function () {
            let api = this.api();
        
            api.on('click', 'tbody tr', function (e) {
                console.log ( this )
                history.pushState({ page: 1 }, "title 1", "?page=1");
                //window.history.pushState({}, "Ruta 1", "/ruta1");
                //api.search(this.innerHTML).draw();
            });
        }});
//});
</script>