<!DOCTYPE HTML>
<html>
	<head>
		<title>Francesc López Marió - Fullstack developer</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/layouts/home/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="/layouts/home/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper-->
			<div id="wrapper">

				<!-- Main -->
					<div id="main" style="text-align:center">
                        !Gracias por contactarme!
                    </div>
                    <p style="color:white">Me pondŕe en contacto contigo.</p>
                    <input type="submit" value="Volver" onclick="window.location.href = '/';"/>


			</div>

		<!-- Scripts -->
			<script src="/layouts/home/assets/js/jquery.min.js"></script>
			<script src="/layouts/home/assets/js/browser.min.js"></script>
			<script src="/layouts/home/assets/js/breakpoints.min.js"></script>
			<script src="/layouts/home/assets/js/util.js"></script>
			<script src="/layouts/home/assets/js/main.js"></script>

	</body>
</html>