<!DOCTYPE HTML>
<html>
	<head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-7W4HK1XNTG"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-7W4HK1XNTG');
</script>	
		<title>Francesc López Marió - Fullstack developer</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="msvalidate.01" content="72F79C2A1E9BFCF2EEF36190A175AC53" />
		<meta name="yandex-verification" content="e95298d4f88a7a5d" />
		<link rel="stylesheet" href="/layouts/home/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="/layouts/home/assets/css/noscript.css" /></noscript>

		<!-- TODO: BUNDLES with another system -->
		<script async src="https://unpkg.com/systemjs@6.14.2/dist/extras/amd.js"></script>
		<script async src="https://unpkg.com/systemjs@6.14.2/dist/system.js"></script>
	
		<script defer src="/layouts/home/HomeLayout.js"></script>

	</head>
	<body class="is-preload" style="display:none;background-color: #0A0A0A;	">

	
		<!-- Wrapper-->
			<div id="wrapper">

				<!-- Nav -->
					<nav id="nav">
						<a href="#home" class="icon solid fa-home"><span>Bienvenidos</span></a>
						<!-- a href="#work" class="icon solid fa-folder"><span>Work</span></a -->
						<a href="/resume" class="icon solid fa-id-card"><span>Curriculum</span></a>
						<a href="#articles" class="icon solid fa-folder-open"><span>Artículos</span></a>
						<a href="#contact" class="icon solid fa-envelope"><span>Contacto</span></a>
						<!-- a href="https://twitter.com/ajlkn" class="icon brands fa-twitter"><span>Twitter</span></a -->
					</nav>

				<!-- Main -->
					<div id="main">

						<!-- Me -->
							<article id="home" class="panel intro">
								<header>
									<h1>Francesc López Marió</h1>
									<p></p>
								</header>
								<a href="#work" class="jumplink pic" style="background-color: black;">
									<span id="jumplink_01" class="arrow icon solid fa-chevron-right"><span>See my work</span></span>
									<!-- img src="/layouts/home/images/me.jpg" alt="" / -->
									<div id="div_iframe_01">
										<iframe id="iframe_01" scrolling="no" src="/layouts/home/ascii-art/public"></iframe>
									</div>
								</a>
							</article>

						<!-- Work -->
						<article id="articles" class="panel">
							<header>
								{% for blog in blogs %}
									<h2>{{blog.title}}</h2>
									<p>{{blog.subtitle}}</p>
									<mu-markdown document="{{blog.content}}"></mu-markdown>
								{% endfor %}								
								<!-- section>
									<div class="row">
										<div class="col-4 col-6-medium col-12-small">
											<a href="#" class="image fit"><img src="/layouts/home/images/pic01.jpg" alt=""></a>
										</div>
									</div>
								</section -->
							</header>
						</article>

						<!--
							<article id="work" class="panel">
								<header>
									<h2>Work</h2>
								</header>
								<p>
									Phasellus enim sapien, blandit ullamcorper elementum eu, condimentum eu elit.
									Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
									luctus elit eget interdum.
								</p>
								<section>
									<div class="row">
										<div class="col-4 col-6-medium col-12-small">
											<a href="#" class="image fit"><img src="/layouts/home/images/pic01.jpg" alt=""></a>
										</div>
										<div class="col-4 col-6-medium col-12-small">
											<a href="#" class="image fit"><img src="/layouts/home/images/pic02.jpg" alt=""></a>
										</div>
										<div class="col-4 col-6-medium col-12-small">
											<a href="#" class="image fit"><img src="/layouts/home/images/pic03.jpg" alt=""></a>
										</div>
										<div class="col-4 col-6-medium col-12-small">
											<a href="#" class="image fit"><img src="/layouts/home/images/pic04.jpg" alt=""></a>
										</div>
										<div class="col-4 col-6-medium col-12-small">
											<a href="#" class="image fit"><img src="/layouts/home/images/pic05.jpg" alt=""></a>
										</div>
										<div class="col-4 col-6-medium col-12-small">
											<a href="#" class="image fit"><img src="/layouts/home/images/pic06.jpg" alt=""></a>
										</div>
										<div class="col-4 col-6-medium col-12-small">
											<a href="#" class="image fit"><img src="/layouts/home/images/pic07.jpg" alt=""></a>
										</div>
										<div class="col-4 col-6-medium col-12-small">
											<a href="#" class="image fit"><img src="/layouts/home/images/pic08.jpg" alt=""></a>
										</div>
										<div class="col-4 col-6-medium col-12-small">
											<a href="#" class="image fit"><img src="/layouts/home/images/pic09.jpg" alt=""></a>
										</div>
										<div class="col-4 col-6-medium col-12-small">
											<a href="#" class="image fit"><img src="/layouts/home/images/pic10.jpg" alt=""></a>
										</div>
										<div class="col-4 col-6-medium col-12-small">
											<a href="#" class="image fit"><img src="/layouts/home/images/pic11.jpg" alt=""></a>
										</div>
										<div class="col-4 col-6-medium col-12-small">
											<a href="#" class="image fit"><img src="/layouts/home/images/pic12.jpg" alt=""></a>
										</div>
									</div>
								</section>
							</article>
						-->
						<!-- Contact -->
						<article id="contact" class="panel">
								<header>
									<h2>Contacto</h2>
								</header>
								<form action="/contact/me" method="post">
									<div>
										<div class="row">
											<div class="col-6 col-12-medium">
												<input type="text" name="name" placeholder="Nombre" />
											</div>
											<div class="col-6 col-12-medium">
												<input type="text" name="email" placeholder="Email" />
											</div>
											<div class="col-12">
												<input type="text" name="subject" placeholder="Asunto" />
											</div>
											<div class="col-12">
												<textarea name="message" placeholder="Mensaje" rows="6"></textarea>
											</div>
											<div class="col-12">
												<input type="submit" value="Enviar" />
											</div>
										</div>
									</div>
								</form>
								<a href="https://www.linkedin.com/in/francesclopezmario" target="_blank">
									<img src="/layouts/home/images/LI-Bug.svg.original.svg" alt="LinkedIn" style="width: 3em;">
								</a>
							</article>

					</div>

				<!-- Footer -->
					<div id="footer">
						<!-- ul class="copyright">
							<li>&copy; Untitled.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
						</ul -->
					</div>

			</div>


	<!-- Scripts -->
		<script src="/layouts/home/assets/js/jquery.min.js"></script>
		<script src="/layouts/home/assets/js/browser.min.js"></script>
		<script src="/layouts/home/assets/js/breakpoints.min.js"></script>
		<script src="/layouts/home/assets/js/util.js"></script>
		<script src="/layouts/home/assets/js/main.js"></script>

	</body>
</html>