<!DOCTYPE html>

<head> 
    <link rel="stylesheet" type="text/css" href="/mutiitu/css/global-style.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/systemjs/6.14.2/system.min.js"></script>


    <script>
        //import { MuEditor } from "./components/editor/scripts/editor.js"
        System.import('/components/editor/scripts/editor.js')
    </script>

</head>

<body>
    <mu-editor document="{{document}}"> </mu-editor>
    <!-- div class="monaco" id="uniqueID" style="min-height: 600px">HOLA ??</div -->
</body>