<footer style="background-color: #222; color: #fff; padding: 1rem; text-align: center;">
    <p>&copy; 2025 Mutiitu. All rights reserved.</p>
    <nav>
      <!-- a href="/privacy" style="color: #ccc; margin: 0 10px;">Privacy Policy</a -->
      <!-- a href="/terms" style="color: #ccc; margin: 0 10px;">Terms of Service</a -->
      <a href="contact/me" style="color: #ccc; margin: 0 10px;">Contact</a>
    </nav>
</footer>

<script>
  window.addEventListener('load', () => {
    //document.getElementById('splash').style.display = 'none';

    const splash = document.getElementById('splash');
    splash.classList.add('fade-out');

    document.getElementById('app').style.display = 'block';

    setTimeout(() => {
    splash.remove(); // optional: remove it completely from the DOM
  }, 500); // matches transition duration
  });
</script>
  