<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-1MSSPKE0HR"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-1MSSPKE0HR');
</script>

<!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl+ '&gtm_auth=QJEl4LNFIvcRYx6ReflDSQ&gtm_preview=env-1&gtm_cookies_win=x';f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-PVJ6Z2CS');</script>
  <!-- End Google Tag Manager -->


    <title>Francesc López Marió - Fullstack developer</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="msvalidate.01" content="72F79C2A1E9BFCF2EEF36190A175AC53" />
    <meta name="yandex-verification" content="e95298d4f88a7a5d" />
    <link rel="stylesheet" href="/layouts/home/assets/css/main.css" />
    <noscript><link rel="stylesheet" href="/layouts/home/assets/css/noscript.css" /></noscript>

    <!-- TODO: BUNDLES with another system -->
    <script defer src="https://unpkg.com/systemjs@6.14.2/dist/extras/amd.js"></script>
    <script defer src="https://unpkg.com/systemjs@6.14.2/dist/system.js"></script>

    <script defer src="/layouts/home/HomeLayout.js"></script>
