{% extends "mutiitu/blog/layouts/common/base.html" %}

{% block headExtra %}
    <script type="application/ld+json">
        {{ jsonLd | raw }}
    </script>
{% endblock %}

{% block content %}
		<!-- Wrapper-->
        <div style="padding:0em; background-color: white;">
            <div>
                <a href="/">Volver</a>
            </div>
                <h1>
                    {{ blog.title }}
                </h1>
                <h2>
                    {{ blog.subtitle }}
                </h2>
                <div>
                {{ blogEntryComponent | raw}}  
			    </div>
        </div>
{% endblock %}
