{% extends "mutiitu/blog/layouts/common/base.html" %}

{% block headExtra %}
    <script type="application/ld+json">
        {{ jsonLd | raw }}
    </script>
{% endblock %}

{% block content %}
		<!-- Wrapper-->
        <div style="padding:0em; background-color: white;">
            <div>
                <a href="/">Volver</a>
            </div>
                <div class="title">
                    {{ blog.title }}
                </div>
                <div class="subtitle">{{ blog.subtitle }}</div>
                <div>
                {{ blogEntryComponent | raw}}  
			    </div>
        </div>
{% endblock %}
