<!DOCTYPE HTML>
<html>
	<head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-7W4HK1XNTG"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-7W4HK1XNTG');
</script>	
		<title>Francesc López Marió - Fullstack developer</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="msvalidate.01" content="72F79C2A1E9BFCF2EEF36190A175AC53" />
		<meta name="yandex-verification" content="e95298d4f88a7a5d" />
		<link rel="stylesheet" href="/layouts/home/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="/layouts/home/assets/css/noscript.css" /></noscript>

		<!-- TODO: BUNDLES with another system -->
		<script async src="https://unpkg.com/systemjs@6.14.2/dist/extras/amd.js"></script>
		<script async src="https://unpkg.com/systemjs@6.14.2/dist/system.js"></script>
	
		<script defer src="/layouts/home/HomeLayout.js"></script>

	</head>
	<body class="is-preload" style="display:none;background-color: #0A0A0A;	">


		<!-- Wrapper-->
        <div style="padding:0em; background-color: white;">
            <div>
                <a href="/">Volver</a>
            </div>
                <div>
                {{ blogEntryComponent | raw}}  
			</div>
        </div>


	<!-- Scripts -->
		<script src="/layouts/home/assets/js/jquery.min.js"></script>
		<script src="/layouts/home/assets/js/browser.min.js"></script>
		<script src="/layouts/home/assets/js/breakpoints.min.js"></script>
		<script src="/layouts/home/assets/js/util.js"></script>
		<script src="/layouts/home/assets/js/main.js"></script>

	</body>
</html>